/* Webkit browsers */
.filter__scollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.filter__scollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 2px;
}

.filter__scollbar::-webkit-scrollbar-thumb {
    background: #d3cece;
    border-radius: 6px;
}

.filter__scollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}
