/* reset css */
@import 'normalize.css';

/* fonts */
/* @import 'Fonts.css'; */

/* variables */
@import 'Variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset css */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #d1d6eb;
    border-radius: 4px;
}
::-webkit-scrollbar-track:hover {
    background: #d1d6ea;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

input:focus {
    outline: none;
}

/* Global class */

/*Background*/
/*
@DARK: black
@LIGHT: white
*/
.bg__color {
    background: var(--background-color);
}

/*dark blue*/
.bg__hover:hover {
    background-color: var(--color-primary-blue);
}

/*TEXT*/
/*
@DARK: white
@LIGHT: black
*/
.text__color {
    color: var(--text-color);
}

/*light blue*/
.secondary__color {
    color: var(--color-secondary);
}

/*blue*/
.primary__color-blue {
    color: var(--color-primary-blue);
}

/*gray*/
.info__color {
    color: var(--color-info);
}

/*red*/
.text__hover:hover {
    color: var(--color-accent-red);
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    transition: background-color 1s ease-in-out;
}

/* @keyframes changeGrid {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.change-grid-animation {
    animation: changeGrid 0.5s ease-in-out;
  } */
