/* :root {
    --background-color: #f6f7f9;
    --text-color: #212224;
    --color-primary-blue: #0068c9;
    --color-secondary: #16bcdc;
    --color-info: #979797;
    --color-accent-red: #cc1414;
}

[data-theme='dark'] {
    --background-color: #212224;
    --text-color: #f6f7f9;
    --color-primary-blue: #0068c9;
    --color-secondary: #16bcdc;
    --color-info: #979797;
    --color-accent-red: #cc1414;
} */
