name: Push-to-EC2

# Trigger deployment only on push to main branch
on:
    push:
        branches:
            - main

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest

        steps:
            - name: Checkout the files
              uses: actions/checkout@v4

            - name: Create .env file
              run: echo "${{secrets.MORATA_ENV}}" > .env
            - name: Build the Docker image
              run: docker build -t tuananh31j/morata_fe:v0.0.1 .

            - name: Log in to Docker Hub
              run: docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_PASSWORD }}
            - name: Push the Docker image to Docker Hub
              run: docker push tuananh31j/morata_fe:v0.0.1

    deploy:
        name: Deploy
        runs-on: ubuntu-latest
        needs: build

        steps:
            - name: Executing remote ssh commands using ssh key
              uses: appleboy/ssh-action@v1.0.0
              with:
                  host: ${{ secrets.EC2_HOST }}
                  username: ${{ secrets.EC2_USERNAME }}
                  key: ${{ secrets.EC2_SSH_KEY }}
                  script: |
                      sudo docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_PASSWORD }}
                      sudo docker pull tuananh31j/morata_fe:v0.0.1
                      sudo docker stop morata-fe || true
                      sudo docker rm -f morata-fe || true
                      sudo docker run -d --name morata-fe -p 80:80 tuananh31j/morata_fe:v0.0.1
